# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

<b> Objectives :</b>

<li>List popular Data Science languages</li>
<li>List common Data Science librarires</li>
<li>Make a table in a markdown cell</li>
<li>Evaluate an arithmethic expression( multiplication and adding)</li>
<li>Perform a division to convert minutes to hours</li>

Some of the popular languages that Data Scientists use are:
<li>Python</li>
<li>R</li>
<li>SQL</li>

Some of the commonly used libraries used by Data Scientists include:

<li>Scikit-learn
<li>Numpy
<li>Matplotlib

| Data Science Tools |
| --- |
| Pandas|
| TensorFlow |
| ggplot |

### Below are a few examples of evaluating arithmetic expressions in Python

This is a simple expression to multiplicate and add numbers

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [3]:
200 / 60

3.3333333333333335

## Author:
Raphael San Mart√≠n